body {
    font-family: sans-serif;
    margin: 5%;
}

/* hide section edit links */
span.mw-editsection {
    display: none;
}

/* Format categories list horizontally */

ul.categories {
    list-style: none;
    padding-left: 0;
    display: inline;
}
ul.categories li {
    display: inline;
}
ul.categories li + li::before {
    content: " | ";
}
